/*flex direction row*/
div.container1 {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
}

div.item1 {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

/*flex direction row reverse*/
div.container2 {
    background-color: aquamarine;
    display: flex;
    flex-direction: row-reverse;
}

div.item2 {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

/*flex direction column*/
div.container3 {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

div.item3 {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}


/*flex direction column reverse*/
div.container4 {
    background-color: aquamarine;
    display: flex;
    flex-direction: column-reverse;
}

div.item4 {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}