div.container1 {
    background-color: aquamarine;
    display: flex;
    flex-flow: row wrap;

    align-content: stretch;

    height: 400px;
}

div.container2 {
    background-color: aquamarine;
    display: flex;
    flex-flow: row wrap;

    align-content: flex-start;

    height: 400px;
}

div.container3 {
    background-color: aquamarine;
    display: flex;
    flex-flow: row wrap;

    align-content: flex-end;

    height: 400px;
}

div.container4 {
    background-color: aquamarine;
    display: flex;
    flex-flow: row wrap;

    align-content: center;

    height: 400px;
}

div.container5 {
    background-color: aquamarine;
    display: flex;
    flex-flow: row wrap;

    align-content: space-between;

    height: 400px;
}

div.container6 {
    background-color: aquamarine;
    display: flex;
    flex-flow: row wrap;

    align-content: space-evenly;

    height: 400px;
}

div.container7 {
    background-color: aquamarine;
    display: flex;
    flex-flow: row wrap;

    align-content: space-around;

    height: 400px;
}

div.item {
    background-color: aqua;
    border: 1px solid black;
    text-align: center;
    padding: 40px;
}