@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: aquamarine;
}

main {
    background-color: aqua;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-flow: row nowrap; /*flex-direction + flex-wrap*/
    justify-content: center;
    align-items: center;
}

section {
    background-color: bisque;
    height: 200px;
    width: 200px;
}

h1 {
    background-color: beige;
}