@charset "UTF-8";

/* Declaração geral */
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px rgb(0, 0, 119);
    padding: 10px;
}

/* Declaração retrato */
@media screen and (orientation: portrait){
    body {
        background-image: url('../imagens/cev-portrait.jpg');
        background-position: center bottom;
    }
}

/* Declaração paisagem */
@media screen and (orientation: landscape){
    body {
        background-image: url('../imagens/cev-landscape.jpg');
        background-position: left bottom;
    }
}