body {
    font-family: Arial, Helvetica, sans-serif;

    /*
    Medidas Absolutas: cm (centimetros), 
    mm (milimetros), 
    in (polegadas), 
    px (pixel), 
    pt (ponto), 
    pc (paica)

    Medidas Relativas: 
    em (tamanho atual da fonte),
    ex (altura atual da fonte,
    rem (tamanho atual da fonte do body),
    vw (view width),
    vh (view heigth),
    % (porcent)

    Recomendadas usar sempre: px e em

    Geralmente 16px == 1em

    */
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
}