@charset "UTF-8";

/* Gerais */

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px rgb(0, 0, 119);
    padding: 10px;
}