@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    height: 0;
    width: 0px;
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}