@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    
    height: 627px;
    width: 311px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
}

section#redes {
    text-align: right;
}

section#redes img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

section#redes img:hover{
    border: 1px solid rgba(255, 255, 255, 0.6);
    transform: translate(-2px, -2px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0);
    transition: transform 100ms, border 200ms;

}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    height: 471px;
    width: 269px;
}